{% extends 'base.html.twig' %}

{% block title %}
    Supprimer un article
{% endblock %}

{% block body %}
    <h1>Supprimer un article</h1>

    {{ form_start(delete_form) }}

        {{ form_row(delete_form.confirmation, {
            label: 'Je confirme la suppression de l\'article ' ~ article.title
        }) }}

    <button type="submit" class="btn btn-danger">
        Supprimer
    </button>

    {{ form_end(delete_form) }}

{% endblock %}

